* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0%;
  color: beige;
}

body {
  position: relative;
}

section {
  position: relative;
  margin: 16px 16px;
}

header{
    background-image: url("public/backnav.png");
    background-color: #361080;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  list-style-type: none;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover{
    color: rgb(255, 208, 0);
}

h1 {
  text-align: center;
  font-family: 'Tilt Prism';
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-family: 'Tilt Prism';
}

h3{
    font-family: 'Tilt Prism';
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto Mono', monospace;
    line-height: 30px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
  }

  iframe{
    padding: 30px;
  }
      

.contenedorimg {
  text-align: center;
}

.sectionbg {
  background-image: url("public/backg.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  padding: 10px;
}


#bg {
  /* background-image: url("public/fondo.png");
        background-size: cover;
        z-index: -1;
        background-repeat: repeat; */
  background-color: #09001b;
}

#mainyo {
  height: 400px;
}

#imgApex{

    width: 281.1px;
    height: auto;
    display: inline-block;
    margin: 20px;
}

#imgHades{
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 20px;
}




