* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0%;
  color: beige;
}

body {
  position: relative;
  min-height: 100vh;
}

section {
  position: relative;
  margin: 16px 16px;
}

header {
  background-image: url("public/backnav.png");
  background-color: #361080;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  list-style-type: none;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
a{
  transition: all;
  transition-duration: 500ms;
}

a:hover {
  color: rgb(255, 208, 0);
}

h1 {
  text-align: center;
  font-family: "Tilt Prism";
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-family: "Tilt Prism";
}

h3 {
  font-family: "Tilt Prism";
  margin-bottom: 10px;
}

p {
  font-family: "Roboto Mono", monospace;
  line-height: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 50px;
  transition: all;
  transition-duration: 1000ms;
}

td:hover{
  background-image: url("public/backnav.png");
  color: rgb(220, 176, 17);
}

iframe {
  padding: 20px;
}

img{
  padding: 20px;
}

div>a>i{
  color: #ebb03c;
}

.formatoImg{
  height: 400px;
}

.contenedorimg {
  justify-content: center;
  display: flex;
}

.sectionbg {
  background-image: url("public/backg.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  padding: 10px;
}

.video{
  display: flex;
  gap: 24px;
  justify-content: space-around;
  text-align: center;
}

.gifs {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  text-align: center;
}

.gifContainer {
  max-height: 350px;
  width: auto;
}

.videoContainer{
  min-width: 600px;
  aspect-ratio: 16/9;
}

.socialMedia{
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  font-size: 50px;
}

.newFormato{
  width: 261px;
  height: auto;
  object-fit: cover;
}

#bg {
  /* background-image: url("public/fondo.png");
        background-size: cover;
        z-index: -1;
        background-repeat: repeat; */
  background-color: #09001b;
}

#imagenesPlus{
  opacity: 0;
  transition: all;
  transition-duration: 700ms;
}

#imagenesPlus:hover{
  opacity: 1;

}

#arreglo{
  margin: 0;
}
